@import '../../styles/mixins.scss';

ul {
    margin : 0;
    padding: 0;
}

li {
    display      : inline-block;
    width        : calc(32% - 20px);
    border       : solid 1px silver;
    margin-right : 1%;
    margin-bottom: 1%;
    overflow     : hidden;
    padding      : 10px;
}

li:last-child {
    margin-right: 0;
}

li * {
    display: block;
}

img {
    height: 100%;
    width : 100%;
}

.name {
    @include truncate;
    width: 100%;
}