<p>products</p>

<ul>
    <li *ngFor="let product of products">
        <img src="{{ product.defaultImage }}" />
        <span>{{ product.price }}</span> <span class="name">{{ product.name }}</span>
        <button (click)="onAddProduct(product.id)">add</button>
    </li>

</ul>

<button (click)="onPreviousPage()">previous</button>
<span>{{ currentPage }}</span>
<button (click)="onNextPage()">next</button>
<select (change)="onItemsChange($event)">
    <option value="6">6</option>
    <option value="30">30</option>
    <option value="60">60</option>
    <option value="">all</option>
</select>
