.container {
    display: grid;
    grid-template-columns: auto 20rem;
    grid-template-rows: min-content 1fr min-content;
    min-height:100vh;
}

app-header {
    border: solid 1px #f00;
    grid-column: 1/3;
    grid-row: auto;
}

.main {
    border: solid 1px #0f0;
    grid-row: auto;
}

app-footer {
    border: solid 1px #f00;
    grid-column: 1/3;
    grid-row: auto;
}