@import '../styles/mixins.scss';

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    min-height:100vh;
}

app-header {
    @include scaffolding;
    grid-column: auto;
    grid-row: auto;
}

app-footer {
    @include scaffolding;
    grid-column: auto;
    grid-row: auto;
}

.main {
    @include scaffolding;
    grid-row: auto;
    grid-column: 1/3;
}