@import '../../styles/mixins.scss';

:host {
    display: flex;
    justify-content: space-between;
}

app-basket {
    @include scaffolding;
    width: 20rem;

}

.content {
    width: calc(100% - 20rem);
}